First, Python packages need to be imported for this project.

In [1]:
import numpy as np
from scipy.interpolate import InterpolatedUnivariateSpline
import pandas as pd

Next, within the dataset chronicling all medals from all Olympic Games, those pertaining to 1960 through 2022 need to be selected.

In [2]:
# Initial data dump
col_list = ['discipline_title', 'slug_game', 'event_title', 
            'medal_type', 'country_name', 'country_3_letter_code']
medal_table = pd.read_csv('archive/olympic_medals.csv', usecols = col_list)

# Extract columns for hosting city and year from "slug_game" column
medal_table['City'] = medal_table['slug_game'].str[:-4].str.replace('-', ' ').str.strip().str.title()
medal_table['Year'] = medal_table['slug_game'].str[-4:]

# Format event titles and medal types
medal_table['event_title'] = medal_table['event_title'].str.title()
medal_table['medal_type'] = medal_table['medal_type'].str.lower().str.title()

# Clean medal table with organized data
new_col_list = ['Year', 'City', 'discipline_title', 'event_title', 
                'medal_type', 'country_name', 'country_3_letter_code']
new_medal_table = medal_table[new_col_list]

# Rename cleaned medal columns
new_medal_table = new_medal_table.rename(columns = {
    'discipline_title': 'Sport',
    'event_title': 'Event',
    'medal_type': 'Medal',
    'country_name': 'Country Name',
    'country_3_letter_code': 'Country Code'
})

In [3]:
new_medal_table

,Year,City,Sport,Event,Medal,Country Name,Country Code
0,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
1,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
2,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
3,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
4,2022,Beijing,Curling,Mixed Doubles,Bronze,Sweden,SWE
...,...,...,...,...,...,...,...
21692,1896,Athens,Weightlifting,Heavyweight - One Hand Lift Men,Silver,Denmark,DEN
21693,1896,Athens,Weightlifting,Heavyweight - One Hand Lift Men,Bronze,Greece,GRE
21694,1896,Athens,Weightlifting,Heavyweight - Two Hand Lift Men,Gold,Denmark,DEN
21695,1896,Athens,Weightlifting,Heavyweight - Two Hand Lift Men,Silver,Great Britain,GBR
21696,1896,Athens,Weightlifting,Heavyweight - Two Hand Lift Men,Bronze,Greece,GRE

The table is now compact and readable, but now needs only the rows that pertain to the Winter Olympics games from 1960 to 2022.

1964 &emsp; Innsbruck, Austria

1968 &emsp; Grenoble, France

1972 &emsp; Sapporo, Japan

1976 &emsp; Innsbruck, Austria

1980 &emsp; Lake Placid, New York, USA

1984 &emsp; Sarajevo, Bosnia and Herzegovina (Yugoslavia)

1988 &emsp; Calgary, Alberta, Canada

1992 &emsp; Albertville, France

1994 &emsp; Lillehamer, Norway

1998 &emsp; Nagano, Japan

2002 &emsp;Salt Lake City, Utah, USA

2006 &emsp; Turin, Italy

2010 &emsp; Vancouver, British Columbia, Canada

2014 &emsp; Sochi, Russia

2018 &emsp; Pyeongchang, South Korea

2022 &emsp; Beijing, China

In [4]:
# List the years and cities for the Winter Olympic games of interest
winter_years = ['1964', '1968', '1972', '1976','1980', '1984', '1988', '1992', 
                '1994', '1998', '2002', '2006', '2010', '2014', '2018', '2022']
                
winter_cities = ['Innsbruck', 'Grenoble', 'Sapporo', 'Innsbruck', 'Lake Placid',  'Sarajevo', 
                 'Calgary', 'Albertille', 'Lillehamer', 'Nagano',  'Salt Lake City', 'Turin', 
                 'Vancouver', 'Sochi', 'Pyeongchang', 'Beijing']

# Select the rows based on the above set of games
winter_medal_table = new_medal_table.loc[new_medal_table['Year'].isin(winter_years)]
winter_medal_table = winter_medal_table.loc[winter_medal_table['City'].isin(winter_cities)]

In [5]:
winter_medal_table

,Year,City,Sport,Event,Medal,Country Name,Country Code
0,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
1,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
2,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
3,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
4,2022,Beijing,Curling,Mixed Doubles,Bronze,Sweden,SWE
...,...,...,...,...,...,...,...
16012,1964,Innsbruck,Bobsleigh,Two-Man Men,Bronze,Italy,ITA
16013,1964,Innsbruck,Bobsleigh,Two-Man Men,Bronze,Italy,ITA
16014,1964,Innsbruck,Bobsleigh,Four-Man Men,Gold,Canada,CAN
16015,1964,Innsbruck,Bobsleigh,Four-Man Men,Silver,Austria,AUT
16016,1964,Innsbruck,Bobsleigh,Four-Man Men,Bronze,Italy,ITA

Now with the medal count data aggregated, it shall be important to clean the list of countries below in order to simplify it, since it consists of countries no longer in existence (such as the Soviet Union or Yugoslavia) and those that have for not very long (such as Belarus and Ukraine).

In [6]:
winter_medal_table['Country Name'].value_counts()

Norway                                   274
United States of America                 266
Germany                                  242
Canada                                   200
Austria                                  184
Soviet Union                             180
Switzerland                              135
Netherlands                              134
Sweden                                   129
German Democratic Republic (Germany)     129
Russian Federation                       114
France                                   114
Finland                                  112
Italy                                    112
People's Republic of China                78
Republic of Korea                         69
Japan                                     63
Federal Republic of Germany               48
ROC                                       38
Czech Republic                            33
Great Britain                             23
Slovenia                                  21
Poland                                    20
Czechoslovakia                            19
Australia                                 18
Belarus                                   18
Olympic Athletes from Russia              18
Latvia                                    14
Croatia                                   11
Liechtenstein                             10
Slovakia                                  10
Ukraine                                    8
Estonia                                    8
Bulgaria                                   6
Hungary                                    6
Kazakhstan                                 5
New Zealand                                5
Spain                                      4
Yugoslavia                                 4
Belgium                                    4
Romania                                    2
Denmark                                    1
Democratic People's Republic of Korea      1
Name: Country Name, dtype: int64

That is why the three-letter country code is critical for comparing data in the Winter Olympic medal count (1960 - 2022) versus those which are currently evaluated by the World Bank for historic GDP.

In [7]:
# Initial data dump (note: data only extends to 2020 and will have to be extrapolated)
WB_country_list = ['Country Name', 'Country Code']
WB_year_list = ['1964', '1968', '1972', '1976','1980', '1984', '1988', '1992', 
                '1994', '1998', '2002', '2006', '2010', '2014', '2018', '2020']
WB_GDP = pd.read_csv(
    'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3930485/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3930485.csv', 
    skiprows = 4,
    usecols = (WB_country_list + WB_year_list))

However, first the countries that are listed in the medal table need to have their codes verified in order to ensure that they are properly listed in the World Bank's economic data table.

In [8]:
# Create a list of the countries in the medal table to compare against the World Bank table
countries = winter_medal_table['Country Name'].value_counts().index[::].tolist()
codes = winter_medal_table['Country Code'].value_counts().index[::].tolist()
wrong = []

# Check which codes do not match
for index, code in enumerate(codes, 0):
    if WB_GDP['Country Code'].str.contains(code).any():
        pass
    else:
        wrong.append([countries[index], codes[index]])

In [9]:
wrong

[['Germany', 'GER'],
 ['Soviet Union', 'URS'],
 ['Switzerland', 'SUI'],
 ['Netherlands', 'NED'],
 ['German Democratic Republic (Germany)', 'GDR'],
 ['Federal Republic of Germany', 'FRG'],
 ['ROC', 'ROC'],
 ['Slovenia', 'SLO'],
 ['Czechoslovakia', 'TCH'],
 ['Olympic Athletes from Russia', 'OAR'],
 ['Latvia', 'LAT'],
 ['Croatia', 'CRO'],
 ['Bulgaria', 'BUL'],
 ['Yugoslavia', 'YUG'],
 ['Denmark', 'DEN']]

This issue needs to be nipped in the bud. Therefore, the countries listed above need their codes changed in order to have their GNI per capita data pulled. It is easier to apply these changes to the World Bank table, since each country has its own row.

Also, due to doping scandals among Russian athletes, the Russian Federation (RUS) has been banned from having an official delegation and hence had to compete as "Olympic Athletes from Russia" (OAR) in Pyeongchang 2018 and the "Russian Olympic Committee" in Beijing 2022. Despite this, it is just easier to merge these delegations into that of the Russian Federation.

In [10]:
# Change the country codes in the World Bank table to match that of the Winter Olympic table
for country in wrong:
    WB_GDP.loc[
        WB_GDP['Country Name'] == country[0], 'Country Code'] = country[1]

# Consolidate the entries in the Winter Olympic medal table for the Russian Federation
winter_medal_table['Country Name'].replace({'ROC': 'Russian Federation',
                                        'Olympic Athletes from Russia': 'Russian Federation'},
                                          inplace = True)
winter_medal_table['Country Code'].replace({'ROC': 'RUS', 'OAR': 'RUS'}, inplace = True)

# Change Liechtenstein to Austria to make things simpler
winter_medal_table['Country Name'].replace({'Liechtenstein': 'Austria'}, inplace = True)
winter_medal_table['Country Code'].replace({'LIE': 'AUT'}, inplace = True)

In [11]:
# Limit list only to countries that have scored medals in the Winter Olympics
WB_GDP = WB_GDP.loc[WB_GDP['Country Code'] \
                                          .isin(winter_medal_table['Country Code'])] \
                                          .sort_values(by='Country Code', ascending=True)

In [12]:
WB_GDP

,Country Name,Country Code,1964,1968,1972,1976,1980,1984,1988,1992,1994,1998,2002,2006,2010,2014,2018,2020
13,Australia,AUS,2.380110e+10,3.271699e+10,5.205140e+10,1.051015e+11,1.500323e+11,1.935936e+11,2.360659e+11,3.254803e+11,3.228073e+11,3.994045e+11,3.953427e+11,7.475562e+11,1.147589e+12,1.467505e+12,1.428530e+12,1.327836e+12
14,Austria,AUT,9.169984e+09,1.244063e+10,2.205961e+10,4.295998e+10,8.205891e+10,6.798534e+10,1.333394e+11,1.950781e+11,2.035352e+11,2.182599e+11,2.133778e+11,3.359986e+11,3.918927e+11,4.419961e+11,4.549459e+11,4.332585e+11
17,Belgium,BEL,1.596011e+10,2.137635e+10,3.720942e+10,7.111388e+10,1.268293e+11,8.334953e+10,1.622991e+11,2.347817e+11,2.448841e+11,2.585283e+11,2.571578e+11,4.079181e+11,4.809516e+11,5.346781e+11,5.430085e+11,5.218613e+11
25,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.779300e+10,1.526437e+10,1.459425e+10,3.695431e+10,5.722249e+10,7.881384e+10,6.003126e+10,6.025824e+10
21,Bulgaria,BUL,NaN,NaN,NaN,NaN,1.983923e+10,1.759494e+10,2.255594e+10,1.035052e+10,9.697417e+09,1.503070e+10,1.640285e+10,3.437981e+10,5.068206e+10,5.708201e+10,6.636342e+10,6.988935e+10
35,Canada,CAN,4.937752e+10,7.182981e+10,1.130828e+11,2.065756e+11,2.738538e+11,3.553726e+11,5.073544e+11,5.923877e+11,5.781393e+11,6.340000e+11,7.606493e+11,1.319265e+12,1.617343e+12,1.805750e+12,1.725329e+12,1.645423e+12
40,China,CHN,5.970834e+10,7.084654e+10,1.136876e+11,1.539405e+11,1.911492e+11,2.599465e+11,3.123536e+11,4.269157e+11,5.643247e+11,1.029043e+12,1.470550e+12,2.752132e+12,6.087164e+12,1.047568e+13,1.389482e+13,1.472273e+13
99,Croatia,CRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.579288e+10,2.707455e+10,5.086079e+10,6.042602e+10,5.833029e+10,6.224787e+10,5.720378e+10
54,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.480501e+10,4.785020e+10,6.680743e+10,8.219600e+10,1.562641e+11,2.090699e+11,2.093588e+11,2.489501e+11,2.453393e+11
58,Denmark,DEN,NaN,1.350557e+10,2.323238e+10,4.457589e+10,7.112753e+10,5.910524e+10,1.155528e+11,1.529157e+11,1.561624e+11,1.769919e+11,1.786352e+11,2.828849e+11,3.219953e+11,3.529936e+11,3.568412e+11,3.560849e+11
70,Spain,ESP,2.134384e+10,3.147555e+10,5.913242e+10,1.185072e+11,2.327668e+11,1.721029e+11,3.761604e+11,6.309160e+11,5.305626e+11,6.192148e+11,7.053943e+11,1.259344e+12,1.420722e+12,1.369399e+12,1.420300e+12,1.281485e+12
71,Estonia,EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.674081e+09,7.367976e+09,1.702287e+10,1.952348e+10,2.659866e+10,3.047461e+10,3.065029e+10
75,Finland,FIN,7.766655e+09,8.823034e+09,1.474319e+10,3.184951e+10,5.364520e+10,5.288880e+10,1.090590e+11,1.125325e+11,1.032999e+11,1.340387e+11,1.397384e+11,2.169075e+11,2.491812e+11,2.744972e+11,2.755804e+11,2.695948e+11
77,France,FRA,9.400785e+10,1.297854e+11,2.034941e+11,3.723190e+11,7.012884e+11,5.306838e+11,1.018847e+12,1.401466e+12,1.393983e+12,1.503109e+12,1.494287e+12,2.318594e+12,2.642610e+12,2.852166e+12,2.789594e+12,2.630318e+12
81,United Kingdom,GBR,9.440756e+10,1.077599e+11,1.699650e+11,2.326146e+11,5.649477e+11,4.614871e+11,9.101227e+11,1.179660e+12,1.140490e+12,1.653392e+12,1.784077e+12,2.717060e+12,2.491110e+12,3.087166e+12,2.900791e+12,2.759804e+12
55,Germany,GER,NaN,NaN,2.998015e+11,5.197545e+11,9.502909e+11,7.251111e+11,1.401233e+12,2.131572e+12,2.205074e+12,2.238991e+12,2.068624e+12,2.992197e+12,3.396354e+12,3.883920e+12,3.975347e+12,3.846414e+12
101,Hungary,HUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.873059e+10,4.316668e+10,4.870679e+10,6.760892e+10,1.157513e+11,1.322311e+11,1.410790e+11,1.605868e+11,1.558084e+11
116,Italy,ITA,6.317542e+10,8.794223e+10,1.452600e+11,2.247173e+11,4.772568e+11,4.378877e+11,8.916090e+11,1.320162e+12,1.099217e+12,1.270053e+12,1.270712e+12,1.947920e+12,2.134018e+12,2.159134e+12,2.090911e+12,1.888709e+12
119,Japan,JPN,8.174901e+10,1.466011e+11,3.180313e+11,5.861619e+11,1.105386e+12,1.318382e+12,3.071683e+12,3.908809e+12,4.998798e+12,4.098363e+12,4.182846e+12,4.601663e+12,5.759072e+12,4.896994e+12,5.036892e+12,5.057759e+12
120,Kazakhstan,KAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.491736e+10,2.125079e+10,2.213525e+10,2.463659e+10,8.100388e+10,1.480473e+11,2.214156e+11,1.793400e+11,1.710824e+11
126,"Korea, Rep.",KOR,3.458939e+09,6.119284e+09,1.086233e+10,2.990248e+10,6.539865e+10,9.751024e+10,1.995908e+11,3.555253e+11,4.636174e+11,3.833309e+11,6.272461e+11,1.053217e+12,1.144067e+12,1.484318e+12,1.724846e+12,1.637896e+12
145,Latvia,LAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.166275e+09,9.557032e+09,2.157008e+10,2.395616e+10,3.134515e+10,3.441221e+10,3.370732e+10
176,Netherlands,NED,1.869938e+10,2.781761e+10,5.470656e+10,1.091687e+11,1.951521e+11,1.439127e+11,2.619105e+11,3.629629e+11,3.791303e+11,4.380082e+11,4.716140e+11,7.333409e+11,8.465549e+11,8.909813e+11,9.135971e+11,9.138654e+11
177,Norway,NOR,7.159203e+09,1.015993e+10,1.735861e+10,3.594227e+10,6.443938e+10,6.205796e+10,1.019003e+11,1.308380e+11,1.271315e+11,1.541634e+11,1.955242e+11,3.455814e+11,4.287570e+11,4.984101e+11,4.369997e+11,3.621983e+11
180,New Zealand,NZL,7.274144e+09,5.180598e+09,9.567331e+09,1.360483e+10,2.324455e+10,2.166598e+10,4.517681e+10,4.164983e+10,5.531473e+10,5.622717e+10,6.662773e+10,1.115388e+11,1.465175e+11,2.013135e+11,2.122257e+11,2.107008e+11
190,Poland,POL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.433705e+10,1.108034e+11,1.746858e+11,1.990721e+11,3.446220e+11,4.798342e+11,5.424771e+11,5.874117e+11,5.966244e+11
193,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Romania,ROU,NaN,NaN,NaN,NaN,NaN,NaN,4.080952e+10,2.512167e+10,3.007444e+10,4.169412e+10,4.606610e+10,1.220230e+11,1.663094e+11,1.999594e+11,2.414574e+11,2.487156e+11
202,Russian Federation,RUS,NaN,NaN,NaN,NaN,NaN,NaN,5.547135e+11,4.602906e+11,3.950773e+11,2.709555e+11,3.454705e+11,9.899305e+11,1.524917e+12,2.059242e+12,1.657329e+12,1.483498e+12
222,Slovenia,SLO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.214623e+10,2.348989e+10,3.948105e+10,4.816125e+10,4.993069e+10,5.413714e+10,5.358961e+10
37,Switzerland,SUI,1.448056e+10,1.894273e+10,NaN,NaN,1.226609e+11,1.095474e+11,2.157219e+11,2.801568e+11,3.016285e+11,3.038824e+11,3.101758e+11,4.438019e+11,6.034345e+11,7.343966e+11,7.355393e+11,7.522480e+11
221,Slovak Republic,SVK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.549551e+10,2.016294e+10,2.985600e+10,3.513034e+10,7.070810e+10,9.071267e+10,1.009547e+11,1.055612e+11,1.051726e+11
223,Sweden,SWE,2.253242e+10,3.106682e+10,4.895415e+10,8.936207e+10,1.420921e+11,1.092014e+11,2.069867e+11,2.843211e+11,2.290336e+11,2.708091e+11,2.668491e+11,4.230934e+11,4.958126e+11,5.819640e+11,5.554554e+11,5.412201e+11
248,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,7.470371e+10,7.190000e+10,5.254339e+10,4.188324e+10,4.395637e+10,1.118848e+11,1.412099e+11,1.335034e+11,1.308910e+11,1.554990e+11
251,United States,USA,6.858000e+11,9.425000e+11,1.279110e+12,1.873412e+12,2.857307e+12,4.037613e+12,5.236438e+12,6.520327e+12,7.287236e+12,9.062818e+12,1.093642e+13,1.381461e+13,1.499205e+13,1.752716e+13,2.061186e+13,2.095303e+13

Obviously, due to the birth of new nations as well as the emergence of formerly communist ones (such as Poland and Romania) in the world scene result in a lack of GDP data for up until the early 1990s. Even data for Winter Olympic powerhouses such as Slovenia is missing up until the late 1900s, as well as some countries have missing data altogether (such North Korea and Liechtenstein at the present).

In order to conduct a more focused analysis of more recent Winter Olympic trends, it would be far simpler and more accurate to set the beginning of the study to 1998 in order to accommodate Slovenia as well as eliminate Liechtenstein (which is culturally similar to Austria and Switzerland) and North Korea (which is just a poor version of South Korea) entirely. Also, 1998 was the first year snowboarding was introduced into the Winter Olympics as an official sport with medals awarded.

In [13]:
# Trimmed down year list
year_list = ['1998', '2002', '2006', '2010', '2014', '2018', '2020']

# Limit list only to countries with reliable data as explained above
GDP = WB_GDP[WB_country_list + year_list].loc[
    (WB_GDP['Country Code'] != 'LIE') &
    (WB_GDP['Country Code'] != 'PRK')]

In [14]:
GDP

,Country Name,Country Code,1998,2002,2006,2010,2014,2018,2020
13,Australia,AUS,3.994045e+11,3.953427e+11,7.475562e+11,1.147589e+12,1.467505e+12,1.428530e+12,1.327836e+12
14,Austria,AUT,2.182599e+11,2.133778e+11,3.359986e+11,3.918927e+11,4.419961e+11,4.549459e+11,4.332585e+11
17,Belgium,BEL,2.585283e+11,2.571578e+11,4.079181e+11,4.809516e+11,5.346781e+11,5.430085e+11,5.218613e+11
25,Belarus,BLR,1.526437e+10,1.459425e+10,3.695431e+10,5.722249e+10,7.881384e+10,6.003126e+10,6.025824e+10
21,Bulgaria,BUL,1.503070e+10,1.640285e+10,3.437981e+10,5.068206e+10,5.708201e+10,6.636342e+10,6.988935e+10
35,Canada,CAN,6.340000e+11,7.606493e+11,1.319265e+12,1.617343e+12,1.805750e+12,1.725329e+12,1.645423e+12
40,China,CHN,1.029043e+12,1.470550e+12,2.752132e+12,6.087164e+12,1.047568e+13,1.389482e+13,1.472273e+13
99,Croatia,CRO,2.579288e+10,2.707455e+10,5.086079e+10,6.042602e+10,5.833029e+10,6.224787e+10,5.720378e+10
54,Czech Republic,CZE,6.680743e+10,8.219600e+10,1.562641e+11,2.090699e+11,2.093588e+11,2.489501e+11,2.453393e+11
58,Denmark,DEN,1.769919e+11,1.786352e+11,2.828849e+11,3.219953e+11,3.529936e+11,3.568412e+11,3.560849e+11
70,Spain,ESP,6.192148e+11,7.053943e+11,1.259344e+12,1.420722e+12,1.369399e+12,1.420300e+12,1.281485e+12
71,Estonia,EST,5.674081e+09,7.367976e+09,1.702287e+10,1.952348e+10,2.659866e+10,3.047461e+10,3.065029e+10
75,Finland,FIN,1.340387e+11,1.397384e+11,2.169075e+11,2.491812e+11,2.744972e+11,2.755804e+11,2.695948e+11
77,France,FRA,1.503109e+12,1.494287e+12,2.318594e+12,2.642610e+12,2.852166e+12,2.789594e+12,2.630318e+12
81,United Kingdom,GBR,1.653392e+12,1.784077e+12,2.717060e+12,2.491110e+12,3.087166e+12,2.900791e+12,2.759804e+12
55,Germany,GER,2.238991e+12,2.068624e+12,2.992197e+12,3.396354e+12,3.883920e+12,3.975347e+12,3.846414e+12
101,Hungary,HUN,4.870679e+10,6.760892e+10,1.157513e+11,1.322311e+11,1.410790e+11,1.605868e+11,1.558084e+11
116,Italy,ITA,1.270053e+12,1.270712e+12,1.947920e+12,2.134018e+12,2.159134e+12,2.090911e+12,1.888709e+12
119,Japan,JPN,4.098363e+12,4.182846e+12,4.601663e+12,5.759072e+12,4.896994e+12,5.036892e+12,5.057759e+12
120,Kazakhstan,KAZ,2.213525e+10,2.463659e+10,8.100388e+10,1.480473e+11,2.214156e+11,1.793400e+11,1.710824e+11
126,"Korea, Rep.",KOR,3.833309e+11,6.272461e+11,1.053217e+12,1.144067e+12,1.484318e+12,1.724846e+12,1.637896e+12
145,Latvia,LAT,7.166275e+09,9.557032e+09,2.157008e+10,2.395616e+10,3.134515e+10,3.441221e+10,3.370732e+10
176,Netherlands,NED,4.380082e+11,4.716140e+11,7.333409e+11,8.465549e+11,8.909813e+11,9.135971e+11,9.138654e+11
177,Norway,NOR,1.541634e+11,1.955242e+11,3.455814e+11,4.287570e+11,4.984101e+11,4.369997e+11,3.621983e+11
180,New Zealand,NZL,5.622717e+10,6.662773e+10,1.115388e+11,1.465175e+11,2.013135e+11,2.122257e+11,2.107008e+11
190,Poland,POL,1.746858e+11,1.990721e+11,3.446220e+11,4.798342e+11,5.424771e+11,5.874117e+11,5.966244e+11
201,Romania,ROU,4.169412e+10,4.606610e+10,1.220230e+11,1.663094e+11,1.999594e+11,2.414574e+11,2.487156e+11
202,Russian Federation,RUS,2.709555e+11,3.454705e+11,9.899305e+11,1.524917e+12,2.059242e+12,1.657329e+12,1.483498e+12
222,Slovenia,SLO,2.214623e+10,2.348989e+10,3.948105e+10,4.816125e+10,4.993069e+10,5.413714e+10,5.358961e+10
37,Switzerland,SUI,3.038824e+11,3.101758e+11,4.438019e+11,6.034345e+11,7.343966e+11,7.355393e+11,7.522480e+11
221,Slovak Republic,SVK,2.985600e+10,3.513034e+10,7.070810e+10,9.071267e+10,1.009547e+11,1.055612e+11,1.051726e+11
223,Sweden,SWE,2.708091e+11,2.668491e+11,4.230934e+11,4.958126e+11,5.819640e+11,5.554554e+11,5.412201e+11
248,Ukraine,UKR,4.188324e+10,4.395637e+10,1.118848e+11,1.412099e+11,1.335034e+11,1.308910e+11,1.554990e+11
251,United States,USA,9.062818e+12,1.093642e+13,1.381461e+13,1.499205e+13,1.752716e+13,2.061186e+13,2.095303e+13

Now given this streamlined table, the final step shall be to extrapolate the GDP of the respective countries from 1998 to 2022 using the InterpolatedUnivariateSpline feature of the SciPy package. Use a linear curve to account for the fact that these mostly developed countries have a slower economic growth rate compared to that of developing countries.

In [15]:
# Initialize a new column as a list
new_col = []

# Loop through each country to extrapolate to the year 2022
for index, country in enumerate(GDP['Country Code'], 0):
    # Given values
    xi = np.array([int(x) for x in year_list])
    yi = np.array(GDP.loc[GDP['Country Code'] == country][year_list])
    # Positions to inter/extrapolate
    x = np.linspace(1998, 2022)
    # spline order: 1 linear, 2 quadratic, 3 cubic ... 
    order = 1
    # do inter/extrapolation
    s = InterpolatedUnivariateSpline(xi, yi, k = order)
    y = s(x)
    new_col.append(y[(len(y)) - 1])

# Extract columns for hosting city and year from "slug_game" column
GDP['2022'] = new_col

# Finally, drop the column for the year 2020
GDP = GDP.drop(columns = '2020', axis = 1)

In [16]:
GDP

,Country Name,Country Code,1998,2002,2006,2010,2014,2018,2022
13,Australia,AUS,3.994045e+11,3.953427e+11,7.475562e+11,1.147589e+12,1.467505e+12,1.428530e+12,1.227143e+12
14,Austria,AUT,2.182599e+11,2.133778e+11,3.359986e+11,3.918927e+11,4.419961e+11,4.549459e+11,4.115711e+11
17,Belgium,BEL,2.585283e+11,2.571578e+11,4.079181e+11,4.809516e+11,5.346781e+11,5.430085e+11,5.007141e+11
25,Belarus,BLR,1.526437e+10,1.459425e+10,3.695431e+10,5.722249e+10,7.881384e+10,6.003126e+10,6.048522e+10
21,Bulgaria,BUL,1.503070e+10,1.640285e+10,3.437981e+10,5.068206e+10,5.708201e+10,6.636342e+10,7.341527e+10
35,Canada,CAN,6.340000e+11,7.606493e+11,1.319265e+12,1.617343e+12,1.805750e+12,1.725329e+12,1.565518e+12
40,China,CHN,1.029043e+12,1.470550e+12,2.752132e+12,6.087164e+12,1.047568e+13,1.389482e+13,1.555064e+13
99,Croatia,CRO,2.579288e+10,2.707455e+10,5.086079e+10,6.042602e+10,5.833029e+10,6.224787e+10,5.215969e+10
54,Czech Republic,CZE,6.680743e+10,8.219600e+10,1.562641e+11,2.090699e+11,2.093588e+11,2.489501e+11,2.417285e+11
58,Denmark,DEN,1.769919e+11,1.786352e+11,2.828849e+11,3.219953e+11,3.529936e+11,3.568412e+11,3.553285e+11
70,Spain,ESP,6.192148e+11,7.053943e+11,1.259344e+12,1.420722e+12,1.369399e+12,1.420300e+12,1.142669e+12
71,Estonia,EST,5.674081e+09,7.367976e+09,1.702287e+10,1.952348e+10,2.659866e+10,3.047461e+10,3.082596e+10
75,Finland,FIN,1.340387e+11,1.397384e+11,2.169075e+11,2.491812e+11,2.744972e+11,2.755804e+11,2.636092e+11
77,France,FRA,1.503109e+12,1.494287e+12,2.318594e+12,2.642610e+12,2.852166e+12,2.789594e+12,2.471041e+12
81,United Kingdom,GBR,1.653392e+12,1.784077e+12,2.717060e+12,2.491110e+12,3.087166e+12,2.900791e+12,2.618817e+12
55,Germany,GER,2.238991e+12,2.068624e+12,2.992197e+12,3.396354e+12,3.883920e+12,3.975347e+12,3.717481e+12
101,Hungary,HUN,4.870679e+10,6.760892e+10,1.157513e+11,1.322311e+11,1.410790e+11,1.605868e+11,1.510300e+11
116,Italy,ITA,1.270053e+12,1.270712e+12,1.947920e+12,2.134018e+12,2.159134e+12,2.090911e+12,1.686508e+12
119,Japan,JPN,4.098363e+12,4.182846e+12,4.601663e+12,5.759072e+12,4.896994e+12,5.036892e+12,5.078626e+12
120,Kazakhstan,KAZ,2.213525e+10,2.463659e+10,8.100388e+10,1.480473e+11,2.214156e+11,1.793400e+11,1.628248e+11
126,"Korea, Rep.",KOR,3.833309e+11,6.272461e+11,1.053217e+12,1.144067e+12,1.484318e+12,1.724846e+12,1.550946e+12
145,Latvia,LAT,7.166275e+09,9.557032e+09,2.157008e+10,2.395616e+10,3.134515e+10,3.441221e+10,3.300243e+10
176,Netherlands,NED,4.380082e+11,4.716140e+11,7.333409e+11,8.465549e+11,8.909813e+11,9.135971e+11,9.141337e+11
177,Norway,NOR,1.541634e+11,1.955242e+11,3.455814e+11,4.287570e+11,4.984101e+11,4.369997e+11,2.873969e+11
180,New Zealand,NZL,5.622717e+10,6.662773e+10,1.115388e+11,1.465175e+11,2.013135e+11,2.122257e+11,2.091760e+11
190,Poland,POL,1.746858e+11,1.990721e+11,3.446220e+11,4.798342e+11,5.424771e+11,5.874117e+11,6.058370e+11
201,Romania,ROU,4.169412e+10,4.606610e+10,1.220230e+11,1.663094e+11,1.999594e+11,2.414574e+11,2.559737e+11
202,Russian Federation,RUS,2.709555e+11,3.454705e+11,9.899305e+11,1.524917e+12,2.059242e+12,1.657329e+12,1.309667e+12
222,Slovenia,SLO,2.214623e+10,2.348989e+10,3.948105e+10,4.816125e+10,4.993069e+10,5.413714e+10,5.304208e+10
37,Switzerland,SUI,3.038824e+11,3.101758e+11,4.438019e+11,6.034345e+11,7.343966e+11,7.355393e+11,7.689568e+11
221,Slovak Republic,SVK,2.985600e+10,3.513034e+10,7.070810e+10,9.071267e+10,1.009547e+11,1.055612e+11,1.047839e+11
223,Sweden,SWE,2.708091e+11,2.668491e+11,4.230934e+11,4.958126e+11,5.819640e+11,5.554554e+11,5.269847e+11
248,Ukraine,UKR,4.188324e+10,4.395637e+10,1.118848e+11,1.412099e+11,1.335034e+11,1.308910e+11,1.801069e+11
251,United States,USA,9.062818e+12,1.093642e+13,1.381461e+13,1.499205e+13,1.752716e+13,2.061186e+13,2.129420e+13

Correspondingly, trim down the table of Winter Olympic Medals to that of the smaller range of years being studied (basically, the 21st century).

In [17]:
# Trimmed down year list now with 2022 properly at the end
new_year_list = ['1998', '2002', '2006', '2010', '2014', '2018', '2022']

# Select the rows based on the above set of games
winter_medal_table = winter_medal_table.loc[winter_medal_table['Year'].isin(new_year_list)]

In [18]:
winter_medal_table

,Year,City,Sport,Event,Medal,Country Name,Country Code
0,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
1,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
2,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
3,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
4,2022,Beijing,Curling,Mixed Doubles,Bronze,Sweden,SWE
...,...,...,...,...,...,...,...
8400,1998,Nagano,Short Track Speed Skating,500M Women,Silver,People's Republic of China,CHN
8401,1998,Nagano,Short Track Speed Skating,500M Women,Bronze,Republic of Korea,KOR
8402,1998,Nagano,Short Track Speed Skating,1000M Women,Gold,Republic of Korea,KOR
8403,1998,Nagano,Short Track Speed Skating,1000M Women,Silver,People's Republic of China,CHN
8404,1998,Nagano,Short Track Speed Skating,1000M Women,Bronze,Republic of Korea,KOR

As a result, the medal count for each country has been greatly trimmed down to eliminate defunct and redundant countries.

In [19]:
winter_medal_table['Country Name'].value_counts()

Germany                       232
United States of America      204
Norway                        202
Canada                        177
Russian Federation            170
Austria                       128
Netherlands                    97
Sweden                         90
France                         88
Switzerland                    86
Italy                          80
People's Republic of China     78
Republic of Korea              69
Japan                          57
Finland                        56
Czech Republic                 33
Slovenia                       21
Poland                         19
Belarus                        18
Australia                      18
Great Britain                  17
Latvia                         14
Croatia                        11
Slovakia                       10
Estonia                         8
Ukraine                         8
Kazakhstan                      5
New Zealand                     5
Bulgaria                        5
Belgium                         4
Hungary                         4
Spain                           3
Denmark                         1
Name: Country Name, dtype: int64

The final level of cleaning needs to be performed in order to pick which names are simpler to present between the two tables

In [20]:
# Recreating the list of the countries from the trimmed Winter Olympics medal table
countries = winter_medal_table['Country Name'].value_counts().index[::].tolist()
codes = winter_medal_table['Country Code'].value_counts().index[::].tolist()
mismatch = []

# Check which codes do not match
for index, code in enumerate(codes, 0):
    if (GDP.loc[GDP['Country Code'] == code, 'Country Name']
        == countries[index]).any():
        pass
    else:
        mismatch.append([countries[index], 
                         GDP.loc[GDP['Country Code'] == code]
                                                ['Country Name']])

In [21]:
mismatch

[['United States of America',
  251    United States
  Name: Country Name, dtype: object],
 ["People's Republic of China",
  40    China
  Name: Country Name, dtype: object],
 ['Republic of Korea',
  126    Korea, Rep.
  Name: Country Name, dtype: object],
 ['Great Britain',
  81    United Kingdom
  Name: Country Name, dtype: object],
 ['Slovakia',
  221    Slovak Republic
  Name: Country Name, dtype: object]]

The simplest name is the best. Therefore, the following shall be implemented on both tables.

In [22]:
# Change country names in the Winter Olympic medal table
winter_medal_table['Country Name'].replace({'United States of America': 'United States'},
                                          inplace = True)
winter_medal_table['Country Name'].replace({"People's Republic of China": 'China'},
                                          inplace = True)
winter_medal_table['Country Name'].replace({'Republic of Korea': 'South Korea'},
                                          inplace = True)
winter_medal_table['Country Name'].replace({'Great Britain': 'United Kingdom'},
                                          inplace = True)


# Change country names in the World Bank table
GDP.loc[
    GDP['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'
GDP.loc[
    GDP['Country Name'] == 'Slovak Republic', 'Country Name'] = 'Slovakia'

/Users/jchatterjee/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [23]:
winter_medal_table['Country Name'].value_counts()

Germany               232
United States         204
Norway                202
Canada                177
Russian Federation    170
Austria               128
Netherlands            97
Sweden                 90
France                 88
Switzerland            86
Italy                  80
China                  78
South Korea            69
Japan                  57
Finland                56
Czech Republic         33
Slovenia               21
Poland                 19
Belarus                18
Australia              18
United Kingdom         17
Latvia                 14
Croatia                11
Slovakia               10
Estonia                 8
Ukraine                 8
Kazakhstan              5
New Zealand             5
Bulgaria                5
Belgium                 4
Hungary                 4
Spain                   3
Denmark                 1
Name: Country Name, dtype: int64

Finally, trim down the list of countries that have won medals during the years 2002 to 2022.

In [24]:
# Limit list only to countries that have scored medals in the Winter Olympics
GDP = GDP.loc[GDP['Country Code'] \
              .isin(winter_medal_table['Country Code'])] \
              .sort_values(by='Country Code', ascending = True)

# Set index to country name
GDP.index = GDP['Country Name']
GDP = GDP.drop(columns = ['Country Name', 'Country Code'])

In [25]:
GDP

,1998,2002,2006,2010,2014,2018,2022
Country Name,,,,,,,
Australia,3.994045e+11,3.953427e+11,7.475562e+11,1.147589e+12,1.467505e+12,1.428530e+12,1.227143e+12
Austria,2.182599e+11,2.133778e+11,3.359986e+11,3.918927e+11,4.419961e+11,4.549459e+11,4.115711e+11
Belgium,2.585283e+11,2.571578e+11,4.079181e+11,4.809516e+11,5.346781e+11,5.430085e+11,5.007141e+11
Belarus,1.526437e+10,1.459425e+10,3.695431e+10,5.722249e+10,7.881384e+10,6.003126e+10,6.048522e+10
Bulgaria,1.503070e+10,1.640285e+10,3.437981e+10,5.068206e+10,5.708201e+10,6.636342e+10,7.341527e+10
Canada,6.340000e+11,7.606493e+11,1.319265e+12,1.617343e+12,1.805750e+12,1.725329e+12,1.565518e+12
China,1.029043e+12,1.470550e+12,2.752132e+12,6.087164e+12,1.047568e+13,1.389482e+13,1.555064e+13
Croatia,2.579288e+10,2.707455e+10,5.086079e+10,6.042602e+10,5.833029e+10,6.224787e+10,5.215969e+10
Czech Republic,6.680743e+10,8.219600e+10,1.562641e+11,2.090699e+11,2.093588e+11,2.489501e+11,2.417285e+11
Denmark,1.769919e+11,1.786352e+11,2.828849e+11,3.219953e+11,3.529936e+11,3.568412e+11,3.553285e+11
Spain,6.192148e+11,7.053943e+11,1.259344e+12,1.420722e+12,1.369399e+12,1.420300e+12,1.142669e+12
Estonia,5.674081e+09,7.367976e+09,1.702287e+10,1.952348e+10,2.659866e+10,3.047461e+10,3.082596e+10
Finland,1.340387e+11,1.397384e+11,2.169075e+11,2.491812e+11,2.744972e+11,2.755804e+11,2.636092e+11
France,1.503109e+12,1.494287e+12,2.318594e+12,2.642610e+12,2.852166e+12,2.789594e+12,2.471041e+12
United Kingdom,1.653392e+12,1.784077e+12,2.717060e+12,2.491110e+12,3.087166e+12,2.900791e+12,2.618817e+12
Germany,2.238991e+12,2.068624e+12,2.992197e+12,3.396354e+12,3.883920e+12,3.975347e+12,3.717481e+12
Hungary,4.870679e+10,6.760892e+10,1.157513e+11,1.322311e+11,1.410790e+11,1.605868e+11,1.510300e+11
Italy,1.270053e+12,1.270712e+12,1.947920e+12,2.134018e+12,2.159134e+12,2.090911e+12,1.686508e+12
Japan,4.098363e+12,4.182846e+12,4.601663e+12,5.759072e+12,4.896994e+12,5.036892e+12,5.078626e+12
Kazakhstan,2.213525e+10,2.463659e+10,8.100388e+10,1.480473e+11,2.214156e+11,1.793400e+11,1.628248e+11
South Korea,3.833309e+11,6.272461e+11,1.053217e+12,1.144067e+12,1.484318e+12,1.724846e+12,1.550946e+12
Latvia,7.166275e+09,9.557032e+09,2.157008e+10,2.395616e+10,3.134515e+10,3.441221e+10,3.300243e+10
Netherlands,4.380082e+11,4.716140e+11,7.333409e+11,8.465549e+11,8.909813e+11,9.135971e+11,9.141337e+11
Norway,1.541634e+11,1.955242e+11,3.455814e+11,4.287570e+11,4.984101e+11,4.369997e+11,2.873969e+11
New Zealand,5.622717e+10,6.662773e+10,1.115388e+11,1.465175e+11,2.013135e+11,2.122257e+11,2.091760e+11
Poland,1.746858e+11,1.990721e+11,3.446220e+11,4.798342e+11,5.424771e+11,5.874117e+11,6.058370e+11
Russian Federation,2.709555e+11,3.454705e+11,9.899305e+11,1.524917e+12,2.059242e+12,1.657329e+12,1.309667e+12
Slovenia,2.214623e+10,2.348989e+10,3.948105e+10,4.816125e+10,4.993069e+10,5.413714e+10,5.304208e+10
Switzerland,3.038824e+11,3.101758e+11,4.438019e+11,6.034345e+11,7.343966e+11,7.355393e+11,7.689568e+11
Slovakia,2.985600e+10,3.513034e+10,7.070810e+10,9.071267e+10,1.009547e+11,1.055612e+11,1.047839e+11
Sweden,2.708091e+11,2.668491e+11,4.230934e+11,4.958126e+11,5.819640e+11,5.554554e+11,5.269847e+11
Ukraine,4.188324e+10,4.395637e+10,1.118848e+11,1.412099e+11,1.335034e+11,1.308910e+11,1.801069e+11
United States,9.062818e+12,1.093642e+13,1.381461e+13,1.499205e+13,1.752716e+13,2.061186e+13,2.129420e+13

Since the time frame is rather short and the countries listed are relatively political stable (ignoring the present situation in Eastern Europe), there is no need to factor in inflation for the GDP figures.

In [26]:
# Initial data dump (note: data only extends to 2020 and will have to be extrapolated)
pop_country_list = ['Country Name', 'Country Code']
pop_year_list = ['1998', '2002', '2006', '2010', '2014', '2018', '2020']
population = pd.read_csv(
    'API_SP.POP.TOTL_DS2_en_csv_v2_3918567/API_SP.POP.TOTL_DS2_en_csv_v2_3918567.csv', 
    skiprows = 4,
    usecols = (pop_country_list + pop_year_list))

# Change country names in the World Bank table
population.loc[
    population['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'
population.loc[
    population['Country Name'] == 'Slovak Republic', 'Country Name'] = 'Slovakia'

# Change the country codes in the World Bank table to match that of the Winter Olympic table
for country in wrong:
    population.loc[
        population['Country Name'] == country[0], 'Country Code'] = country[1]

# Limit list only to countries that have scored medals in the Winter Olympics
population = population.loc[population['Country Code'] \
                                          .isin(winter_medal_table['Country Code'])] \
                                          .sort_values(by='Country Code', ascending = True)

# Initialize a new column as a list
new_col = []

# Loop through each country to extrapolate to the year 2022
for index, country in enumerate(population['Country Code'], 0):
    # Given values
    xi = np.array([int(x) for x in year_list])
    yi = np.array(population.loc[population['Country Code'] == country][year_list])
    # Positions to inter/extrapolate
    x = np.linspace(1998, 2022)
    # spline order: 1 linear, 2 quadratic, 3 cubic ... 
    order = 1
    # do inter/extrapolation
    s = InterpolatedUnivariateSpline(xi, yi, k = order)
    y = s(x)
    new_col.append(y[(len(y)) - 1])

# Extract columns for hosting city and year from "slug_game" column
population['2022'] = new_col

# Finally, drop the column for the year 2020
population = population.drop(columns = '2020', axis = 1)

# Set index to country name
population.index = population['Country Name']
population = population.drop(columns = ['Country Name', 'Country Code'])

In [27]:
population.style.format('{:,.0f}')

After the GDP and population have been tabulated, the next step is to calculate the GDP per capita.

In [28]:
GDP_per_capita = (GDP / population).round(decimals = 2)

In [29]:
GDP_per_capita.style.format("{:,.0f}")

First, general medal count data shall be tallied. The actual weighting of the medal does not matter, but only the overall quantity of them regardless of whether they were gold, silver, or bronze.

In [30]:
medal_count = population.copy()

In [31]:
for col in medal_count.columns:
    medal_count[col].values[:] = 0

In [33]:
olympiads = new_year_list

for index, year in enumerate(olympiads, 0):
    # Find medals in each year
    medals = winter_medal_table[winter_medal_table['Year'].isin([year])]
    # Count values
    medals = medals['Country Name'].value_counts()
    # Create dataframe
    medals = medals.to_frame()
    # Extract values and index
    medals_values = medals['Country Name']
    medals_index = medals.index
    # Dump values into the table
    medal_count.loc[medals_index, year] = medals_values
    # Convert to int
    medal_count[year] = medal_count[year].astype('int')

In [34]:
medal_count

                    1998  2002  2006  2010  2014  2018  2022
Country Name
Australia              1     2     2     3     3     3     4
Austria               17    17    24    17    18    16    19
Belgium                1     0     0     0     0     1     2
Belarus                2     1     1     3     6     3     2
Bulgaria               1     3     1     0     0     0     0
Canada                16    18    26    29    27    34    27
China                  8     9    13    13     9    10    16
Croatia                0     4     3     3     1     0     0
Czech Republic         3     3     4     6     8     7     2
Denmark                1     0     0     0     0     0     0
Spain                  0     0     0     0     0     2     1
Estonia                0     3     3     1     0     0     1
Finland               12     7    10     5     7     6     9
France                 9    12     9    11    15    17    15
United Kingdom         1     2     1     1     5     5     2
Germany               32    40    32    36    21    36    35
Hungary                0     0     0     0     0     1     3
Italy                 11    14    13     5     8    10    19
Japan                 10     2     1     5     8    13    18
Kazakhstan             2     0     0     1     1     1     0
South Korea            6     4    11    14     8    17     9
Latvia                 0     0     1     3     7     2     1
Netherlands           11     8     9     8    24    20    17
Norway                25    25    20    24    27    42    39
New Zealand            0     0     0     0     0     2     3
Poland                 0     2     2     6     6     2     1
Russian Federation    22    15    25    19    33    18    38
Slovenia               0     1     0     3     8     2     7
Switzerland            7    13    15     9    12    16    14
Slovakia               0     0     1     3     1     3     2
Sweden                 3     7    16    12    17    15    20
Ukraine                1     0     3     0     2     1     1
United States         15    37    27    39    32    26    28

Next, the medals shall be differentiated by event.

In [ ]:
winter_medal_table['Sport'].value_counts()

Clean the data to merge "Short Track" with "Short Track Speed Skating".

In [ ]:
# Change sport names in the Winter Olympic medal table
winter_medal_table['Sport'].replace({'Short Track': 'Short Track Speed Skating'},
                                          inplace = True)
winter_medal_table['Sport'].replace({'Speed skating': 'Long Track Speed Skating'},
                                          inplace = True)

In [ ]:
winter_medal_table['Sport'].value_counts()

In [ ]:
# Select the rows based on the above set of games
winter_medal_table.loc[winter_medal_table['Sport'].isin(['Cross Country Skiing'])
                      & winter_medal_table['Year'].isin(['2002'])]['Country Name'].value_counts()