First, Python packages need to be imported for this project.

In [14]:
import numpy as np
from scipy.interpolate import InterpolatedUnivariateSpline
import pandas as pd

Next, within the dataset chronicling all medals from all Olympic Games, those pertaining to 1960 through 2022 need to be selected.

In [15]:
# Initial data dump
col_list = ['discipline_title', 'slug_game', 'event_title', 
            'medal_type', 'country_name', 'country_3_letter_code']
medal_table = pd.read_csv('archive/olympic_medals.csv', usecols = col_list)

# Extract columns for hosting city and year from "slug_game" column
medal_table['City'] = medal_table['slug_game'].str[:-4].str.replace('-', ' ').str.strip().str.title()
medal_table['Year'] = medal_table['slug_game'].str[-4:]

# Format event titles and medal types
medal_table['event_title'] = medal_table['event_title'].str.title()
medal_table['medal_type'] = medal_table['medal_type'].str.lower().str.title()

# Clean medal table with organized data
new_col_list = ['Year', 'City', 'discipline_title', 'event_title', 
                'medal_type', 'country_name', 'country_3_letter_code']
new_medal_table = medal_table[new_col_list]

# Rename cleaned medal columns
new_medal_table = new_medal_table.rename(columns = {
    'discipline_title': 'Sport',
    'event_title': 'Event',
    'medal_type': 'Medal',
    'country_name': 'Country Name',
    'country_3_letter_code': 'Country Code'
})

In [16]:
new_medal_table

,Year,City,Sport,Event,Medal,Country Name,Country Code
0,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
1,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
2,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
3,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
4,2022,Beijing,Curling,Mixed Doubles,Bronze,Sweden,SWE
...,...,...,...,...,...,...,...
21692,1896,Athens,Weightlifting,Heavyweight - One Hand Lift Men,Silver,Denmark,DEN
21693,1896,Athens,Weightlifting,Heavyweight - One Hand Lift Men,Bronze,Greece,GRE
21694,1896,Athens,Weightlifting,Heavyweight - Two Hand Lift Men,Gold,Denmark,DEN
21695,1896,Athens,Weightlifting,Heavyweight - Two Hand Lift Men,Silver,Great Britain,GBR
21696,1896,Athens,Weightlifting,Heavyweight - Two Hand Lift Men,Bronze,Greece,GRE

The table is now compact and readable, but now needs only the rows that pertain to the Winter Olympics games from 1960 to 2022.

1964 &emsp; Innsbruck, Austria

1968 &emsp; Grenoble, France

1972 &emsp; Sapporo, Japan

1976 &emsp; Innsbruck, Austria

1980 &emsp; Lake Placid, New York, USA

1984 &emsp; Sarajevo, Bosnia and Herzegovina (Yugoslavia)

1988 &emsp; Calgary, Alberta, Canada

1992 &emsp; Albertville, France

1994 &emsp; Lillehamer, Norway

1998 &emsp; Nagano, Japan

2002 &emsp;Salt Lake City, Utah, USA

2006 &emsp; Turin, Italy

2010 &emsp; Vancouver, British Columbia, Canada

2014 &emsp; Sochi, Russia

2018 &emsp; Pyeongchang, South Korea

2022 &emsp; Beijing, China

In [17]:
# List the years and cities for the Winter Olympic games of interest
winter_years = ['1964', '1968', '1972', '1976','1980', '1984', '1988', '1992', 
                '1994', '1998', '2002', '2006', '2010', '2014', '2018', '2022']
                
winter_cities = ['Innsbruck', 'Grenoble', 'Sapporo', 'Innsbruck', 'Lake Placid',  'Sarajevo', 
                 'Calgary', 'Albertille', 'Lillehamer', 'Nagano',  'Salt Lake City', 'Turin', 
                 'Vancouver', 'Sochi', 'Pyeongchang', 'Beijing']

# Select the rows based on the above set of games
winter_medal_table = new_medal_table.loc[new_medal_table['Year'].isin(winter_years)]
winter_medal_table = winter_medal_table.loc[winter_medal_table['City'].isin(winter_cities)]

In [18]:
winter_medal_table

,Year,City,Sport,Event,Medal,Country Name,Country Code
0,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
1,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
2,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
3,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
4,2022,Beijing,Curling,Mixed Doubles,Bronze,Sweden,SWE
...,...,...,...,...,...,...,...
16012,1964,Innsbruck,Bobsleigh,Two-Man Men,Bronze,Italy,ITA
16013,1964,Innsbruck,Bobsleigh,Two-Man Men,Bronze,Italy,ITA
16014,1964,Innsbruck,Bobsleigh,Four-Man Men,Gold,Canada,CAN
16015,1964,Innsbruck,Bobsleigh,Four-Man Men,Silver,Austria,AUT
16016,1964,Innsbruck,Bobsleigh,Four-Man Men,Bronze,Italy,ITA

Now with the medal count data aggregated, it shall be important to clean the list of countries below in order to simplify it, since it consists of countries no longer in existence (such as the Soviet Union or Yugoslavia) and those that have for not very long (such as Belarus and Ukraine).

In [19]:
winter_medal_table['Country Name'].value_counts()

Norway                                   274
United States of America                 266
Germany                                  242
Canada                                   200
Austria                                  184
Soviet Union                             180
Switzerland                              135
Netherlands                              134
Sweden                                   129
German Democratic Republic (Germany)     129
Russian Federation                       114
France                                   114
Finland                                  112
Italy                                    112
People's Republic of China                78
Republic of Korea                         69
Japan                                     63
Federal Republic of Germany               48
ROC                                       38
Czech Republic                            33
Great Britain                             23
Slovenia                                  21
Poland                                    20
Czechoslovakia                            19
Australia                                 18
Belarus                                   18
Olympic Athletes from Russia              18
Latvia                                    14
Croatia                                   11
Liechtenstein                             10
Slovakia                                  10
Ukraine                                    8
Estonia                                    8
Bulgaria                                   6
Hungary                                    6
Kazakhstan                                 5
New Zealand                                5
Spain                                      4
Yugoslavia                                 4
Belgium                                    4
Romania                                    2
Denmark                                    1
Democratic People's Republic of Korea      1
Name: Country Name, dtype: int64

That is why the three-letter country code is critical for comparing data in the Winter Olympic medal count (1960 - 2022) versus those which are currently evaluated by the World Bank for historic GNI per Capita.

In [20]:
# Initial data dump (note: data only extends to 2020 and will have to be extrapolated)
WB_country_list = ['Country Name', 'Country Code']
WB_year_list = ['1964', '1968', '1972', '1976','1980', '1984', '1988', '1992', 
                '1994', '1998', '2002', '2006', '2010', '2014', '2018', '2020']
WB_GNI_per_capita = pd.read_csv(
    'API_NY.GNP.PCAP.CD_DS2_en_csv_v2_3889743/API_NY.GNP.PCAP.CD_DS2_en_csv_v2_3889743.csv', 
    skiprows = 4,
    usecols = (WB_country_list + WB_year_list))

However, first the countries that are listed in the medal table need to have their codes verified in order to ensure that they are properly listed in the World Bank's economic data table.

In [21]:
# Create a list of the countries in the medal table to compare against the World Bank table
countries = winter_medal_table['Country Name'].value_counts().index[::].tolist()
codes = winter_medal_table['Country Code'].value_counts().index[::].tolist()
wrong = []

# Check which codes do not match
for index, code in enumerate(codes, 0):
    if WB_GNI_per_capita['Country Code'].str.contains(code).any():
        pass
    else:
        wrong.append([countries[index], codes[index]])

In [22]:
wrong

[['Germany', 'GER'],
 ['Soviet Union', 'URS'],
 ['Switzerland', 'SUI'],
 ['Netherlands', 'NED'],
 ['German Democratic Republic (Germany)', 'GDR'],
 ['Federal Republic of Germany', 'FRG'],
 ['ROC', 'ROC'],
 ['Slovenia', 'SLO'],
 ['Czechoslovakia', 'TCH'],
 ['Olympic Athletes from Russia', 'OAR'],
 ['Latvia', 'LAT'],
 ['Croatia', 'CRO'],
 ['Bulgaria', 'BUL'],
 ['Yugoslavia', 'YUG'],
 ['Denmark', 'DEN']]

This issue needs to be nipped in the bud. Therefore, the countries listed above need their codes changed in order to have their GNI per capita data pulled. It is easier to apply these changes to the World Bank table, since each country has its own row.

Also, due to doping scandals among Russian athletes, the Russian Federation (RUS) has been banned from having an official delegation and hence had to compete as "Olympic Athletes from Russia" (OAR) in Pyeongchang 2018 and the "Russian Olympic Committee" in Beijing 2022. Despite this, it is just easier to merge these delegations into that of the Russian Federation.

In [23]:
# Change the country codes in the World Bank table to match that of the Winter Olympic table
for country in wrong:
    WB_GNI_per_capita.loc[
        WB_GNI_per_capita['Country Name'] == country[0], 'Country Code'] = country[1]

# Consolidate the entries in the Winter Olympic medal table for the Russian Federation
winter_medal_table['Country Name'].replace({'ROC': 'Russian Federation',
                                        'Olympic Athletes from Russia': 'Russian Federation'},
                                          inplace = True)
winter_medal_table['Country Code'].replace({'ROC': 'RUS', 'OAR': 'RUS'}, inplace = True)

# Change Liechtenstein to Austria to make things simpler
winter_medal_table['Country Name'].replace({'Liechtenstein': 'Austria'}, inplace = True)
winter_medal_table['Country Code'].replace({'LIE': 'AUT'}, inplace = True)

In [24]:
# Limit list only to countries that have scored medals in the Winter Olympics
WB_GNI_per_capita = WB_GNI_per_capita.loc[WB_GNI_per_capita['Country Code'] \
                                          .isin(winter_medal_table['Country Code'])] \
                                          .sort_values(by='Country Code', ascending=True)

In [25]:
WB_GNI_per_capita

,Country Name,Country Code,1964,1968,1972,1976,1980,1984,1988,1992,1994,1998,2002,2006,2010,2014,2018,2020
13,Australia,AUS,2110.0,2730.0,3890.0,7870.0,10830.0,12030.0,14120.0,18540.0,18860.0,21780.0,20030.0,34150.0,46690.0,65180.0,53070.0,53690.0
14,Austria,AUT,1240.0,1680.0,2760.0,5980.0,11460.0,9270.0,18070.0,24520.0,26140.0,27970.0,24970.0,41460.0,49610.0,50370.0,48950.0,48350.0
17,Belgium,BEL,1670.0,2270.0,3640.0,7580.0,13980.0,8860.0,17010.0,23170.0,25090.0,26530.0,24000.0,39900.0,46950.0,47800.0,46010.0,45750.0
25,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6260.0,5210.0,1560.0,1380.0,3510.0,6150.0,7620.0,5730.0,6360.0
21,Bulgaria,BUL,NaN,NaN,NaN,NaN,NaN,2010.0,3110.0,1430.0,1240.0,1440.0,1970.0,4300.0,7010.0,7700.0,8530.0,9630.0
35,Canada,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23610.0,38510.0,44490.0,52200.0,45080.0,43580.0
40,China,CHN,90.0,90.0,130.0,190.0,220.0,250.0,330.0,390.0,470.0,800.0,1110.0,2060.0,4340.0,7470.0,9540.0,10550.0
99,Croatia,CRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5470.0,5660.0,11410.0,14210.0,13420.0,14280.0,14530.0
54,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3360.0,4170.0,6110.0,6650.0,14000.0,19400.0,18900.0,20560.0,22070.0
58,Denmark,DEN,NaN,2870.0,4310.0,8960.0,15090.0,11520.0,22130.0,28700.0,30360.0,33460.0,30850.0,53540.0,61220.0,63670.0,61260.0,63010.0
70,Spain,ESP,640.0,1010.0,1590.0,3430.0,6210.0,4580.0,9410.0,15610.0,14470.0,15440.0,15590.0,27820.0,31880.0,29130.0,29280.0,27360.0
71,Estonia,EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4620.0,11500.0,14710.0,19000.0,21300.0,23170.0
75,Finland,FIN,1620.0,2090.0,3170.0,6840.0,11450.0,10790.0,21540.0,24170.0,20170.0,25820.0,25550.0,42800.0,49600.0,49390.0,48160.0,49780.0
77,France,FRA,1870.0,2560.0,3670.0,7140.0,13080.0,9820.0,18520.0,23840.0,24380.0,25830.0,23090.0,37850.0,43850.0,43320.0,41150.0,39480.0
81,United Kingdom,GBR,NaN,NaN,3200.0,5020.0,9550.0,9270.0,16160.0,21480.0,21890.0,26900.0,29180.0,45160.0,41940.0,44670.0,42410.0,39830.0
55,Germany,GER,NaN,NaN,3600.0,7130.0,13010.0,9880.0,18620.0,25810.0,27530.0,27950.0,23610.0,38230.0,44550.0,47620.0,47410.0,47470.0
101,Hungary,HUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4030.0,4410.0,5290.0,11250.0,13270.0,13560.0,14980.0,15890.0
116,Italy,ITA,1160.0,1700.0,2620.0,4510.0,8430.0,7760.0,15950.0,22960.0,20860.0,22220.0,20710.0,34250.0,37850.0,34890.0,33810.0,32290.0
119,Japan,JPN,810.0,1430.0,2720.0,5410.0,10850.0,10520.0,24920.0,30540.0,37120.0,35010.0,35360.0,40590.0,43910.0,44440.0,41850.0,40360.0
120,Kazakhstan,KAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1310.0,1390.0,1530.0,3860.0,7440.0,12080.0,8070.0,8710.0
126,"Korea, Rep.",KOR,130.0,190.0,340.0,810.0,1870.0,2340.0,4520.0,8310.0,10090.0,10330.0,12850.0,20800.0,22290.0,28160.0,32730.0,32960.0
145,Latvia,LAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2870.0,3940.0,8930.0,12650.0,15330.0,16530.0,17880.0
176,Netherlands,NED,1460.0,2230.0,3850.0,8350.0,14830.0,10730.0,18570.0,23520.0,25370.0,28260.0,27020.0,45910.0,53910.0,51980.0,51250.0,51060.0
177,Norway,NOR,1860.0,2630.0,4230.0,9150.0,15650.0,15140.0,23970.0,30780.0,30850.0,36100.0,39890.0,70020.0,88490.0,104370.0,80320.0,78290.0
180,New Zealand,NZL,NaN,NaN,NaN,NaN,7670.0,7010.0,12550.0,12050.0,13400.0,15790.0,14170.0,26400.0,29680.0,41680.0,41680.0,41550.0
190,Poland,POL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2080.0,2760.0,4360.0,4900.0,8460.0,12740.0,13560.0,14150.0,15240.0
193,"Korea, Dem. People's Rep.",PRK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Romania,ROU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,1270.0,1580.0,1950.0,4900.0,8640.0,9700.0,11430.0,12580.0
202,Russian Federation,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3090.0,2650.0,2130.0,2100.0,5810.0,9980.0,14630.0,10250.0,10690.0
222,Slovenia,SLO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11000.0,10920.0,19820.0,24540.0,23610.0,24610.0,25360.0
37,Switzerland,SUI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46200.0,40760.0,65590.0,79850.0,89400.0,83280.0,82620.0
221,Slovak Republic,SVK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5430.0,6020.0,12940.0,17500.0,18270.0,18320.0,18920.0
223,Sweden,SWE,2740.0,3770.0,5670.0,10720.0,17300.0,13020.0,24190.0,31340.0,27690.0,31110.0,29090.0,49150.0,54630.0,61870.0,55640.0,54050.0
248,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2090.0,990.0,850.0,790.0,1950.0,3030.0,3560.0,2750.0,3570.0
251,United States,USA,3610.0,4740.0,6280.0,8960.0,13380.0,16210.0,23490.0,25680.0,27650.0,32020.0,37310.0,47850.0,49140.0,55800.0,63490.0,64530.0

Obviously, due to the birth of new nations as well as the emergence of formerly communist ones (such as Poland and Romania) in the world scene result in a lack of GNI per capita data for up until the early 1990s. Even data for established developed countries such as Canada is missing up until the early 2000s, as well as some countries have missing data altogether (such North Korea and Liechtenstein at the present).

In order to conduct a more focused analysis of more recent Winter Olympic trends, it would be far simpler and more accurate to set the beginning of the study to 2002 in order to accommodate the perennial powerhouse nation of Canada as well as eliminate Liechtenstein (which is culturally similar to Austria and Switzerland) and North Korea (which is just a poor version of South Korea) entirely.

In [26]:
# Trimmed down year list
year_list = ['2002', '2006', '2010', '2014', '2018', '2020']

# Limit list only to countries with reliable data as explained above
GNI_per_capita = WB_GNI_per_capita[WB_country_list + year_list].loc[
    (WB_GNI_per_capita['Country Code'] != 'LIE') &
    (WB_GNI_per_capita['Country Code'] != 'PRK')]

In [27]:
GNI_per_capita

,Country Name,Country Code,2002,2006,2010,2014,2018,2020
13,Australia,AUS,20030.0,34150.0,46690.0,65180.0,53070.0,53690.0
14,Austria,AUT,24970.0,41460.0,49610.0,50370.0,48950.0,48350.0
17,Belgium,BEL,24000.0,39900.0,46950.0,47800.0,46010.0,45750.0
25,Belarus,BLR,1380.0,3510.0,6150.0,7620.0,5730.0,6360.0
21,Bulgaria,BUL,1970.0,4300.0,7010.0,7700.0,8530.0,9630.0
35,Canada,CAN,23610.0,38510.0,44490.0,52200.0,45080.0,43580.0
40,China,CHN,1110.0,2060.0,4340.0,7470.0,9540.0,10550.0
99,Croatia,CRO,5660.0,11410.0,14210.0,13420.0,14280.0,14530.0
54,Czech Republic,CZE,6650.0,14000.0,19400.0,18900.0,20560.0,22070.0
58,Denmark,DEN,30850.0,53540.0,61220.0,63670.0,61260.0,63010.0
70,Spain,ESP,15590.0,27820.0,31880.0,29130.0,29280.0,27360.0
71,Estonia,EST,4620.0,11500.0,14710.0,19000.0,21300.0,23170.0
75,Finland,FIN,25550.0,42800.0,49600.0,49390.0,48160.0,49780.0
77,France,FRA,23090.0,37850.0,43850.0,43320.0,41150.0,39480.0
81,United Kingdom,GBR,29180.0,45160.0,41940.0,44670.0,42410.0,39830.0
55,Germany,GER,23610.0,38230.0,44550.0,47620.0,47410.0,47470.0
101,Hungary,HUN,5290.0,11250.0,13270.0,13560.0,14980.0,15890.0
116,Italy,ITA,20710.0,34250.0,37850.0,34890.0,33810.0,32290.0
119,Japan,JPN,35360.0,40590.0,43910.0,44440.0,41850.0,40360.0
120,Kazakhstan,KAZ,1530.0,3860.0,7440.0,12080.0,8070.0,8710.0
126,"Korea, Rep.",KOR,12850.0,20800.0,22290.0,28160.0,32730.0,32960.0
145,Latvia,LAT,3940.0,8930.0,12650.0,15330.0,16530.0,17880.0
176,Netherlands,NED,27020.0,45910.0,53910.0,51980.0,51250.0,51060.0
177,Norway,NOR,39890.0,70020.0,88490.0,104370.0,80320.0,78290.0
180,New Zealand,NZL,14170.0,26400.0,29680.0,41680.0,41680.0,41550.0
190,Poland,POL,4900.0,8460.0,12740.0,13560.0,14150.0,15240.0
201,Romania,ROU,1950.0,4900.0,8640.0,9700.0,11430.0,12580.0
202,Russian Federation,RUS,2100.0,5810.0,9980.0,14630.0,10250.0,10690.0
222,Slovenia,SLO,10920.0,19820.0,24540.0,23610.0,24610.0,25360.0
37,Switzerland,SUI,40760.0,65590.0,79850.0,89400.0,83280.0,82620.0
221,Slovak Republic,SVK,6020.0,12940.0,17500.0,18270.0,18320.0,18920.0
223,Sweden,SWE,29090.0,49150.0,54630.0,61870.0,55640.0,54050.0
248,Ukraine,UKR,790.0,1950.0,3030.0,3560.0,2750.0,3570.0
251,United States,USA,37310.0,47850.0,49140.0,55800.0,63490.0,64530.0

Now given this streamlined table, the final step shall be to extrapolate the GNI per capita of the respective countries from 2020 to 2022 using the InterpolatedUnivariateSpline feature of the SciPy package. Use a linear curve to account for the fact that these mostly developed countries have a slower economic growth rate compared to that of developing countries.

In [28]:
# Initialize a new column as a list
new_col = []

# Loop through each country to extrapolate to the year 2022
for index, country in enumerate(GNI_per_capita['Country Code'], 0):
    # Given values
    xi = np.array([int(x) for x in year_list])
    yi = np.array(GNI_per_capita.loc[GNI_per_capita['Country Code'] == country][year_list])
    # Positions to inter/extrapolate
    x = np.linspace(2002, 2022)
    # spline order: 1 linear, 2 quadratic, 3 cubic ... 
    order = 1
    # do inter/extrapolation
    s = InterpolatedUnivariateSpline(xi, yi, k = order)
    y = s(x)
    new_col.append(y[(len(y)) - 1])

# Extract columns for hosting city and year from "slug_game" column
GNI_per_capita['2022'] = new_col

# Finally, drop the column for the year 2020
GNI_per_capita = GNI_per_capita.drop(columns = '2020', axis = 1)

In [29]:
GNI_per_capita

,Country Name,Country Code,2002,2006,2010,2014,2018,2022
13,Australia,AUS,20030.0,34150.0,46690.0,65180.0,53070.0,54310.0
14,Austria,AUT,24970.0,41460.0,49610.0,50370.0,48950.0,47750.0
17,Belgium,BEL,24000.0,39900.0,46950.0,47800.0,46010.0,45490.0
25,Belarus,BLR,1380.0,3510.0,6150.0,7620.0,5730.0,6990.0
21,Bulgaria,BUL,1970.0,4300.0,7010.0,7700.0,8530.0,10730.0
35,Canada,CAN,23610.0,38510.0,44490.0,52200.0,45080.0,42080.0
40,China,CHN,1110.0,2060.0,4340.0,7470.0,9540.0,11560.0
99,Croatia,CRO,5660.0,11410.0,14210.0,13420.0,14280.0,14780.0
54,Czech Republic,CZE,6650.0,14000.0,19400.0,18900.0,20560.0,23580.0
58,Denmark,DEN,30850.0,53540.0,61220.0,63670.0,61260.0,64760.0
70,Spain,ESP,15590.0,27820.0,31880.0,29130.0,29280.0,25440.0
71,Estonia,EST,4620.0,11500.0,14710.0,19000.0,21300.0,25040.0
75,Finland,FIN,25550.0,42800.0,49600.0,49390.0,48160.0,51400.0
77,France,FRA,23090.0,37850.0,43850.0,43320.0,41150.0,37810.0
81,United Kingdom,GBR,29180.0,45160.0,41940.0,44670.0,42410.0,37250.0
55,Germany,GER,23610.0,38230.0,44550.0,47620.0,47410.0,47530.0
101,Hungary,HUN,5290.0,11250.0,13270.0,13560.0,14980.0,16800.0
116,Italy,ITA,20710.0,34250.0,37850.0,34890.0,33810.0,30770.0
119,Japan,JPN,35360.0,40590.0,43910.0,44440.0,41850.0,38870.0
120,Kazakhstan,KAZ,1530.0,3860.0,7440.0,12080.0,8070.0,9350.0
126,"Korea, Rep.",KOR,12850.0,20800.0,22290.0,28160.0,32730.0,33190.0
145,Latvia,LAT,3940.0,8930.0,12650.0,15330.0,16530.0,19230.0
176,Netherlands,NED,27020.0,45910.0,53910.0,51980.0,51250.0,50870.0
177,Norway,NOR,39890.0,70020.0,88490.0,104370.0,80320.0,76260.0
180,New Zealand,NZL,14170.0,26400.0,29680.0,41680.0,41680.0,41420.0
190,Poland,POL,4900.0,8460.0,12740.0,13560.0,14150.0,16330.0
201,Romania,ROU,1950.0,4900.0,8640.0,9700.0,11430.0,13730.0
202,Russian Federation,RUS,2100.0,5810.0,9980.0,14630.0,10250.0,11130.0
222,Slovenia,SLO,10920.0,19820.0,24540.0,23610.0,24610.0,26110.0
37,Switzerland,SUI,40760.0,65590.0,79850.0,89400.0,83280.0,81960.0
221,Slovak Republic,SVK,6020.0,12940.0,17500.0,18270.0,18320.0,19520.0
223,Sweden,SWE,29090.0,49150.0,54630.0,61870.0,55640.0,52460.0
248,Ukraine,UKR,790.0,1950.0,3030.0,3560.0,2750.0,4390.0
251,United States,USA,37310.0,47850.0,49140.0,55800.0,63490.0,65570.0

Correspondingly, trim down the table of Winter Olympic Medals to that of the smaller range of years being studied (basically, the 21st century).

In [30]:
# Trimmed down year list now with 2022 properly at the end
new_year_list = ['2002', '2006', '2010', '2014', '2018', '2022']

# Select the rows based on the above set of games
winter_medal_table = winter_medal_table.loc[winter_medal_table['Year'].isin(new_year_list)]

In [31]:
winter_medal_table

,Year,City,Sport,Event,Medal,Country Name,Country Code
0,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
1,2022,Beijing,Curling,Mixed Doubles,Gold,Italy,ITA
2,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
3,2022,Beijing,Curling,Mixed Doubles,Silver,Norway,NOR
4,2022,Beijing,Curling,Mixed Doubles,Bronze,Sweden,SWE
...,...,...,...,...,...,...,...
7160,2002,Salt Lake City,Speed skating,1000M Women,Silver,Germany,GER
7161,2002,Salt Lake City,Speed skating,1000M Women,Bronze,United States of America,USA
7162,2002,Salt Lake City,Speed skating,1000M Men,Gold,Netherlands,NED
7163,2002,Salt Lake City,Speed skating,1000M Men,Silver,Netherlands,NED
7164,2002,Salt Lake City,Speed skating,1000M Men,Bronze,United States of America,USA

As a result, the medal count for each country has been greatly trimmed down to eliminate defunct and redundant countries.

In [32]:
winter_medal_table['Country Name'].value_counts()

Germany                       200
United States of America      189
Norway                        177
Canada                        161
Russian Federation            148
Austria                       111
Sweden                         87
Netherlands                    86
France                         79
Switzerland                    79
People's Republic of China     70
Italy                          69
Republic of Korea              63
Japan                          47
Finland                        44
Czech Republic                 30
Slovenia                       21
Poland                         19
Australia                      17
Belarus                        16
Great Britain                  16
Latvia                         14
Croatia                        11
Slovakia                       10
Estonia                         8
Ukraine                         7
New Zealand                     5
Hungary                         4
Bulgaria                        4
Spain                           3
Belgium                         3
Kazakhstan                      3
Name: Country Name, dtype: int64

The final level of cleaning needs to be performed in order to pick which names are simpler to present between the two tables

In [33]:
# Recreating the list of the countries from the trimmed Winter Olympics medal table
countries = winter_medal_table['Country Name'].value_counts().index[::].tolist()
codes = winter_medal_table['Country Code'].value_counts().index[::].tolist()
mismatch = []

# Check which codes do not match
for index, code in enumerate(codes, 0):
    if (GNI_per_capita.loc[GNI_per_capita['Country Code'] == code, 'Country Name']
        == countries[index]).any():
        pass
    else:
        mismatch.append([countries[index], 
                         GNI_per_capita.loc[GNI_per_capita['Country Code'] == code]
                                                ['Country Name']])

In [34]:
mismatch

[['United States of America',
  251    United States
  Name: Country Name, dtype: object],
 ["People's Republic of China",
  40    China
  Name: Country Name, dtype: object],
 ['Republic of Korea',
  126    Korea, Rep.
  Name: Country Name, dtype: object],
 ['Great Britain',
  81    United Kingdom
  Name: Country Name, dtype: object],
 ['Slovakia',
  221    Slovak Republic
  Name: Country Name, dtype: object]]

The simplest name is the best. Therefore, the following shall be implemented on both tables.

In [35]:
# Change country names in the Winter Olympic medal table
winter_medal_table['Country Name'].replace({'United States of America': 'United States'},
                                          inplace = True)
winter_medal_table['Country Name'].replace({"People's Republic of China": 'China'},
                                          inplace = True)
winter_medal_table['Country Name'].replace({'Republic of Korea': 'South Korea'},
                                          inplace = True)
winter_medal_table['Country Name'].replace({'Great Britain': 'United Kingdom'},
                                          inplace = True)


# Change country names in the World Bank table
GNI_per_capita.loc[
    GNI_per_capita['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'
GNI_per_capita.loc[
    GNI_per_capita['Country Name'] == 'Slovak Republic', 'Country Name'] = 'Slovakia'

/Users/jchatterjee/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [36]:
winter_medal_table['Country Name'].value_counts()

Germany               200
United States         189
Norway                177
Canada                161
Russian Federation    148
Austria               111
Sweden                 87
Netherlands            86
France                 79
Switzerland            79
China                  70
Italy                  69
South Korea            63
Japan                  47
Finland                44
Czech Republic         30
Slovenia               21
Poland                 19
Australia              17
Belarus                16
United Kingdom         16
Latvia                 14
Croatia                11
Slovakia               10
Estonia                 8
Ukraine                 7
New Zealand             5
Hungary                 4
Bulgaria                4
Spain                   3
Belgium                 3
Kazakhstan              3
Name: Country Name, dtype: int64

Finally, trim down the list of countries that have won medals during the years 2002 to 2022.

In [57]:
# Limit list only to countries that have scored medals in the Winter Olympics
GNI_per_capita = GNI_per_capita.loc[GNI_per_capita['Country Code'] \
                                          .isin(winter_medal_table['Country Code'])] \
                                          .sort_values(by='Country Code', ascending = True)

# Set index to country name
GNI_per_capita.index = GNI_per_capita['Country Name']
GNI_per_capita = GNI_per_capita.drop(columns = ['Country Name', 'Country Code'])

In [58]:
GNI_per_capita

                       2002     2006     2010      2014     2018     2022
Country Name
Australia           20030.0  34150.0  46690.0   65180.0  53070.0  54310.0
Austria             24970.0  41460.0  49610.0   50370.0  48950.0  47750.0
Belgium             24000.0  39900.0  46950.0   47800.0  46010.0  45490.0
Belarus              1380.0   3510.0   6150.0    7620.0   5730.0   6990.0
Bulgaria             1970.0   4300.0   7010.0    7700.0   8530.0  10730.0
Canada              23610.0  38510.0  44490.0   52200.0  45080.0  42080.0
China                1110.0   2060.0   4340.0    7470.0   9540.0  11560.0
Croatia              5660.0  11410.0  14210.0   13420.0  14280.0  14780.0
Czech Republic       6650.0  14000.0  19400.0   18900.0  20560.0  23580.0
Spain               15590.0  27820.0  31880.0   29130.0  29280.0  25440.0
Estonia              4620.0  11500.0  14710.0   19000.0  21300.0  25040.0
Finland             25550.0  42800.0  49600.0   49390.0  48160.0  51400.0
France              23090.0  37850.0  43850.0   43320.0  41150.0  37810.0
United Kingdom      29180.0  45160.0  41940.0   44670.0  42410.0  37250.0
Germany             23610.0  38230.0  44550.0   47620.0  47410.0  47530.0
Hungary              5290.0  11250.0  13270.0   13560.0  14980.0  16800.0
Italy               20710.0  34250.0  37850.0   34890.0  33810.0  30770.0
Japan               35360.0  40590.0  43910.0   44440.0  41850.0  38870.0
Kazakhstan           1530.0   3860.0   7440.0   12080.0   8070.0   9350.0
South Korea         12850.0  20800.0  22290.0   28160.0  32730.0  33190.0
Latvia               3940.0   8930.0  12650.0   15330.0  16530.0  19230.0
Netherlands         27020.0  45910.0  53910.0   51980.0  51250.0  50870.0
Norway              39890.0  70020.0  88490.0  104370.0  80320.0  76260.0
New Zealand         14170.0  26400.0  29680.0   41680.0  41680.0  41420.0
Poland               4900.0   8460.0  12740.0   13560.0  14150.0  16330.0
Russian Federation   2100.0   5810.0   9980.0   14630.0  10250.0  11130.0
Slovenia            10920.0  19820.0  24540.0   23610.0  24610.0  26110.0
Switzerland         40760.0  65590.0  79850.0   89400.0  83280.0  81960.0
Slovakia             6020.0  12940.0  17500.0   18270.0  18320.0  19520.0
Sweden              29090.0  49150.0  54630.0   61870.0  55640.0  52460.0
Ukraine               790.0   1950.0   3030.0    3560.0   2750.0   4390.0
United States       37310.0  47850.0  49140.0   55800.0  63490.0  65570.0

Since the time frame is rather short and the countries listed are relatively political stable (ignoring the present situation in Eastern Europe), there is no need to factor in inflation for the GNI per capita figures.

In [60]:
# Initial data dump (note: data only extends to 2020 and will have to be extrapolated)
pop_country_list = ['Country Name', 'Country Code']
pop_year_list = ['2002', '2006', '2010', '2014', '2018', '2020']
population = pd.read_csv(
    'API_SP.POP.TOTL_DS2_en_csv_v2_3918567/API_SP.POP.TOTL_DS2_en_csv_v2_3918567.csv', 
    skiprows = 4,
    usecols = (pop_country_list + pop_year_list))

# Change country names in the World Bank table
population.loc[
    population['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'
population.loc[
    population['Country Name'] == 'Slovak Republic', 'Country Name'] = 'Slovakia'

# Change the country codes in the World Bank table to match that of the Winter Olympic table
for country in wrong:
    population.loc[
        population['Country Name'] == country[0], 'Country Code'] = country[1]

# Limit list only to countries that have scored medals in the Winter Olympics
population = population.loc[population['Country Code'] \
                                          .isin(winter_medal_table['Country Code'])] \
                                          .sort_values(by='Country Code', ascending = True)

# Initialize a new column as a list
new_col = []

# Loop through each country to extrapolate to the year 2022
for index, country in enumerate(population['Country Code'], 0):
    # Given values
    xi = np.array([int(x) for x in year_list])
    yi = np.array(population.loc[population['Country Code'] == country][year_list])
    # Positions to inter/extrapolate
    x = np.linspace(2002, 2022)
    # spline order: 1 linear, 2 quadratic, 3 cubic ... 
    order = 1
    # do inter/extrapolation
    s = InterpolatedUnivariateSpline(xi, yi, k = order)
    y = s(x)
    new_col.append(y[(len(y)) - 1])

# Extract columns for hosting city and year from "slug_game" column
population['2022'] = new_col

# Finally, drop the column for the year 2020
population = population.drop(columns = '2020', axis = 1)

# Set index to country name
population.index = population['Country Name']
population = population.drop(columns = ['Country Name', 'Country Code'])

In [61]:
population

,2002,2006,2010,2014,2018,2022
Country Name,,,,,,
Australia,1.965140e+07,2.069790e+07,2.203175e+07,2.347569e+07,2.498269e+07,2.639139e+07
Austria,8.081957e+06,8.268641e+06,8.363404e+06,8.546356e+06,8.840521e+06,8.993889e+06
Belgium,1.033278e+07,1.054796e+07,1.089559e+07,1.120906e+07,1.142705e+07,1.168494e+07
Belarus,9.865548e+06,9.604924e+06,9.483836e+06,9.448515e+06,9.438785e+06,9.321119e+06
Bulgaria,7.837161e+06,7.601022e+06,7.395599e+06,7.223938e+06,7.025037e+06,6.842993e+06
Canada,3.136008e+07,3.257117e+07,3.400489e+07,3.543744e+07,3.706518e+07,3.894530e+07
China,1.280400e+09,1.311020e+09,1.337705e+09,1.371860e+09,1.402760e+09,1.419099e+09
Croatia,4.302174e+06,4.311159e+06,4.295427e+06,4.238389e+06,4.087843e+06,4.006557e+06
Czech Republic,1.019692e+07,1.023890e+07,1.047441e+07,1.052535e+07,1.062993e+07,1.076786e+07
Spain,4.143156e+07,4.439732e+07,4.657690e+07,4.648088e+07,4.679775e+07,4.790538e+07
Estonia,1.379350e+06,1.346810e+06,1.331475e+06,1.314545e+06,1.321977e+06,1.340137e+06
Finland,5.200598e+06,5.266268e+06,5.363352e+06,5.461512e+06,5.515525e+06,5.545913e+06
France,6.180527e+07,6.362138e+07,6.502750e+07,6.631207e+07,6.710193e+07,6.768123e+07
United Kingdom,5.937048e+07,6.084682e+07,6.276636e+07,6.460230e+07,6.646034e+07,6.797024e+07
Germany,8.248850e+07,8.237645e+07,8.177693e+07,8.098250e+07,8.290578e+07,8.357527e+07
Hungary,1.015861e+07,1.007137e+07,1.000002e+07,9.866468e+06,9.775564e+06,9.723962e+06
Italy,5.705901e+07,5.814398e+07,5.927742e+07,6.078914e+07,6.042176e+07,5.868629e+07
Japan,1.274450e+08,1.278540e+08,1.280700e+08,1.272760e+08,1.265291e+08,1.251429e+08
Kazakhstan,1.485895e+07,1.530808e+07,1.632187e+07,1.728828e+07,1.827645e+07,1.923243e+07
South Korea,4.764474e+07,4.843829e+07,4.955411e+07,5.074666e+07,5.160663e+07,5.195452e+07
Latvia,2.310173e+06,2.218357e+06,2.097555e+06,1.993782e+06,1.927174e+06,1.875922e+06
Netherlands,1.614893e+07,1.634610e+07,1.661539e+07,1.686501e+07,1.723162e+07,1.765065e+07
Norway,4.538159e+06,4.660677e+06,4.889252e+06,5.137232e+06,5.311916e+06,5.447034e+06
New Zealand,3.948500e+06,4.184600e+06,4.350700e+06,4.516500e+06,4.900600e+06,5.268000e+06
Poland,3.823036e+07,3.814127e+07,3.804279e+07,3.801174e+07,3.797475e+07,3.792685e+07
Russian Federation,1.453065e+08,1.430496e+08,1.428495e+08,1.438197e+08,1.444779e+08,1.437303e+08
Slovenia,1.994530e+06,2.006868e+06,2.048583e+06,2.061980e+06,2.073894e+06,2.126358e+06
Switzerland,7.284753e+06,7.483934e+06,7.824909e+06,8.188649e+06,8.514329e+06,8.759463e+06
Slovakia,5.376912e+06,5.373054e+06,5.391428e+06,5.418649e+06,5.446771e+06,5.470883e+06
Sweden,8.924958e+06,9.080505e+06,9.378126e+06,9.696110e+06,1.017521e+07,1.053167e+07
Ukraine,4.820247e+07,4.678779e+07,4.587074e+07,4.527216e+07,4.462252e+07,4.364687e+07
United States,2.876252e+08,2.983799e+08,3.093271e+08,3.183863e+08,3.268382e+08,3.321300e+08

First, general medal count data shall be tallied. The actual weighting of the medal does not matter, but only the overall quantity of them regardless of whether they were gold, silver, or bronze.

In [41]:
medal_count = population.copy()

In [42]:
for col in medal_count.columns:
    if (col != 'Country Name') & (col != 'Country Code'):
        medal_count[col].values[:] = 0
medal_count.index = medal_count['Country Name']

In [62]:
olympiads = new_year_list

for index, year in enumerate(olympiads, 0):
    # Find medals in each year
    medals = winter_medal_table[winter_medal_table['Year'].isin([year])]
    # Count values
    medals = medals['Country Name'].value_counts()
    # Create dataframe
    medals = medals.to_frame()
    # Extract values and index
    medals_values = medals['Country Name']
    medals_index = medals.index
    # Dump values into the table
    medal_count.loc[medals_index, year] = medals_values
    # Convert to int
    medal_count[year] = medal_count[year].astype('int')

# Drop unnecessary columns
medal_count = medal_count.drop(columns = ['Country Name', 'Country Code'])

In [63]:
medal_count

                    2002  2006  2010  2014  2018  2022
Country Name
Australia              2     2     3     3     3     4
Austria               17    24    17    18    16    19
Belgium                0     0     0     0     1     2
Belarus                1     1     3     6     3     2
Bulgaria               3     1     0     0     0     0
Canada                18    26    29    27    34    27
China                  9    13    13     9    10    16
Croatia                4     3     3     1     0     0
Czech Republic         3     4     6     8     7     2
Spain                  0     0     0     0     2     1
Estonia                3     3     1     0     0     1
Finland                7    10     5     7     6     9
France                12     9    11    15    17    15
United Kingdom         2     1     1     5     5     2
Germany               40    32    36    21    36    35
Hungary                0     0     0     0     1     3
Italy                 14    13     5     8    10    19
Japan                  2     1     5     8    13    18
Kazakhstan             0     0     1     1     1     0
South Korea            4    11    14     8    17     9
Latvia                 0     1     3     7     2     1
Netherlands            8     9     8    24    20    17
Norway                25    20    24    27    42    39
New Zealand            0     0     0     0     2     3
Poland                 2     2     6     6     2     1
Russian Federation    15    25    19    33    18    38
Slovenia               1     0     3     8     2     7
Switzerland           13    15     9    12    16    14
Slovakia               0     1     3     1     3     2
Sweden                 7    16    12    17    15    20
Ukraine                0     3     0     2     1     1
United States         37    27    39    32    26    28

Next, the medals shall be differentiated by event.

In [32]:
winter_medal_table['Sport'].value_counts()

Cross Country Skiing         247
Speed skating                222
Alpine Skiing                187
Biathlon                     181
Snowboard                    144
Freestyle Skiing             141
Short Track Speed Skating    123
Figure skating               118
Bobsleigh                     93
Luge                          81
Ski Jumping                   66
Nordic Combined               54
Curling                       48
Ice Hockey                    36
Skeleton                      36
Short Track                   24
Name: Sport, dtype: int64

Clean the data to merge "Short Track" with "Short Track Speed Skating".

In [34]:
# Change sport names in the Winter Olympic medal table
winter_medal_table['Sport'].replace({'Short Track': 'Short Track Speed Skating'},
                                          inplace = True)
winter_medal_table['Sport'].replace({'Speed skating': 'Long Track Speed Skating'},
                                          inplace = True)

/Users/jchatterjee/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [35]:
winter_medal_table['Sport'].value_counts()

Cross Country Skiing         247
Long Track Speed Skating     222
Alpine Skiing                187
Biathlon                     181
Short Track Speed Skating    147
Snowboard                    144
Freestyle Skiing             141
Figure skating               118
Bobsleigh                     93
Luge                          81
Ski Jumping                   66
Nordic Combined               54
Curling                       48
Ice Hockey                    36
Skeleton                      36
Name: Sport, dtype: int64

In [38]:
# Select the rows based on the above set of games
winter_medal_table.loc[winter_medal_table['Sport'].isin(['Cross Country Skiing'])
                      & winter_medal_table['Year'].isin(['2002'])]['Country Name'].value_counts()

Norway                11
Italy                  6
Germany                5
Russian Federation     4
Estonia                3
Czech Republic         2
Austria                2
Canada                 1
Switzerland            1
Sweden                 1
Name: Country Name, dtype: int64